<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Final Ubicua</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    <div class="container">
      <div style="margin-top:50px" class="jumbotron" ng-app="asterisk_app" ng-controller="DashboardController">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#raw_data">Raw Data
            <span style="border-radius: 1em;" class="label label-primary">  {{cdr_entries.length}}</span>
          </a></li>
          <li><a data-toggle="tab" href="#dashboard">Dashboard</a></li>
        </ul>

        <div class="tab-content">
          </br>
          <div id="raw_data" class="tab-pane fade in active">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Desde</th>
                  <th>A</th>
                  <th>Duración (seg) </th>
                  <th>Contexto</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in cdr_entries">
                  <td>{{ $index }}</td>
                  <td>{{ entry.calldate }}</td>
                  <td>{{ entry.src }}</td>
                  <td>{{ entry.dst }}</td>
                  <td>{{ entry.duration }}</td>
                  <td>{{ entry.disposition }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          <div id="dashboard" class="tab-pane fade">
            <select class="form-control" ng-model="selectedChart"
                    ng-options="key for (key , value) in chart_options"
                    ng-change="changeSelectedChart()"></select>
            </br>
            <canvas ng-if="selectedChart === 1" id="bar" class="chart chart-bar"
                    chart-data="data" chart-labels="labels" chart-series="series">
            </canvas>
            <canvas ng-if="selectedChart === 2" id="line" class="chart chart-line"
                    chart-data="data" chart-labels="labels" chart-series="series">
            </canvas>
            <canvas ng-if="selectedChart === 3" id="pie" class="chart chart-pie"
                    chart-data="data" chart-labels="labels" chart-series="series">
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="asterisk_app.js"></script>
  </body>
</html>
